<h3>Contents</h3>
<ol><li><a href="index.html">If I Knew Then</a></li>
<li><a href="preface.html">Preface</a></li>
<li><a href="introduction.html">Introduction</a></li>
<li><a href="write-more-code.html">Write More Code</a></li>
<li><a href="maintainability.html">Maintainability</a></li>
<li><a href="coding-standards.html">Coding Standards</a></li>
<li><a href="continuous-integration.html">Continuous Integration</a></li>
<li><a href="attitude-counts.html">Attitude Counts</a></li>
<li><a href="the-considerate-professional.html">The Considerate Professional</a></li>
<li><a href="productivity.html">How to be more productive</a></li>
<li><a href="design-patterns.html">The Perils Of Design Patterns</a></li>
<li><a href="social-events.html">Social Events</a></li>
<li><a href="measuring-success.html">Measuring Success</a></li>
<li><a href="life-will-change.html">Life Will Change</a></li>
<li><a href="promote-yourself.html">Promote Yourself</a></li>
<li><a href="take-pride-in-what-you-do.html">Take Pride In What You Do</a></li>
<li><a href="key-skills-for-industry.html">The Key Skills That Industry Expects</a></li>
<li><a href="feedback.html">Feedback Most Welcome</a></li>
<li><a href="authors.html">About The Authors</a></li>
<li><a href="copyright.html">Copyright</a></li>
<li><a href="licence.html">Licence</a></li>
<li><a href="production-notes.html">Production Notes</a></li>

</ol>
